<div class="container-fluid signup" style="height:1000px;">
    <div class="row vertical-align" style="height:300px;margin-top:120px;">
        <div class = "col-sm-6">
            <h1><a href="#/NPSignUp">I'm a Non-Profit</a></h1>
        </div>
        <div class = "col-sm-6">
            <h1><a href="#/profSignUp">I'm a Professor</a></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class = "col-sm-6">
                <img style="height:150px;margin-left:40%;"ng-src="https://s3.amazonaws.com/thirtythousandhandsimages/icons/Nursing.svg" class="img-responsive" alt="Non-Profit">
            </div>
            <div class = "col-sm-6" style="height:50px;">
                <img style="height:150px;margin-left:40%;" ng-src="https://s3.amazonaws.com/thirtythousandhandsimages/icons/Education.svg" class="img-responsive" alt="Profs">
            </div>
        </div>
    </div>
</div>
