<div class="container-fluid home-banner">
    <div class="row vertical-align" style="height:300px;">
        <div class = "col-sm-6">
            <h1><a href="#/NPSignUp">I'm a Non-Profit</a></h1>
        </div>
        <div class = "col-sm-6">
            <h1><a href="#/profSignUp">I'm a Professor</a></h1>
        </div>
    </div>
    <div class="container-fluid home-banner">
        <div class="row" style="height:50px;">
            <div class = "col-sm-6">
                <img ng-src="/imgs/nonProfitIcon.jpg" class="img-responsive" alt="Non-Profit">
            </div>
            <div class = "col-sm-6">
                <img ng-src="/imgs/profsIcon.jpg" class="img-responsive" alt="Profs">
            </div>
        </div>
    </div>
</div>