<div class = "text-center" style="height:200px; width:100%;">
    <h1>Thirty-Thousand Hands</h1>
</div>
<div id="team" class="text-center team-image">

</div>
<div class="container-fluid home-banner">
    <div class="row vertical-align">
        <div id = "mission_statement" class = "container col-sm-6" style="height:300px;">
            <h1><a href="#/forNP">Mission Statement</a></h1>
        </div>
        <div id="PastProjects" class = "col-sm-6" style="height:300px;">
            <h1><a href="#/forProfs">Past Projects</a></h1>
        </div>
    </div>
    <div style="height:300px;">
    <div id="NonProfits" class="col-sm-3" style="float:left;height:300px;" ng-repeat="id in nonprofitNums">

            <a href="#/nonprofit/{{id}}"><img ng-src="/imgs/icons/good-idea_3.svg" class="img-responsive circle" style="width:auto;height:50%;border-radius:50%;" alt="Non-Profit"></a>

    </div>
    </div>
</div>
