<div class="container-fluid home-banner">
    <div class="row vertical-align" style="height:300px;">
        <div class = "col-sm-4">
            <h1><a href="#/forNP">I'm a Non-Profit</a></h1>
        </div>
        <div class = "col-sm-4">
            <h1><a href="#/forProfs">I'm a Professor</a></h1>
        </div>
        <div class = "col-sm-4">
            <h1><a href="#/browser">I'm just browsing</a></h1>
        </div>
    </div>
    <div class="container-fluid home-banner">
        <div class="row" style="height:50px;">
            <div class = "col-sm-4">
                <img ng-src="/imgs/nonProfitIcon.jpg" class="img-responsive" alt="Non-Profit">
            </div>
            <div class = "col-sm-4">
                <img ng-src="/imgs/profsIcon.jpg" class="img-responsive" alt="Non-Profit">
            </div>
            <div class="col-sm-4">
                <img ng-src="/imgs/mouse.jpg" class="img-responsive" alt="Non-Profit" style="height:50%;width:10%;margin: 0 auto; margin-top:5%;">
            </div>
        </div>
    </div>
</div>