<h1>SearchNP</h1>
<!--<li ng-repeat="item in list">{{ item | json }}</li>-->

<div id="searchBar">
    <h4>search bar</h4>
</div>
<div>
    <div id="mySidenav" class="sidenav">
        <div ng-repeat="(key, value) in categories">
            <a ng-click="clicked = !clicked">{{key}}</a>
            <div uib-collapse = "!clicked">
                <div class= "well well-lg">
                    <div ng-repeat="subcategory in value">
                        <label><input type="checkbox" 
                                      name="{{subcategory}}"  
                                      value="{{subcategory}}"
                                      id="{{subcategory}}"
                                      ng-model = "checkModel.value[subcategory]"
                                      ng-click = "filterResults(this)">{{subcategory}}</label><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page content" class="main">
        <div class="well well-lg" ng-repeat="item in list">
            <h3>{{item.username}}</h3>
            <p>{{item.about}}</p>
        </div>
    </div>
</div>