
<div>
    <div id="mySidenav" class="sidenav">
        <div ng-repeat="(key, value) in categories">
            <h3><a ng-click="clicked = !clicked"><span class="glyphicon glyphicon-chevron-right"></span>{{key}}</a></h3>
            <div uib-collapse = "!clicked">
                <div class= "well well-lg">
                    <div ng-repeat="subcategory in value">
                        <label><input type="checkbox"
                                      name="{{subcategory}}"
                                      value="{{subcategory}}"
                                      id="{{subcategory}}"
                                      ng-model = "checkModel.value[subcategory]"
                                      ng-click = "filterResults(this)">{{subcategory}}</label><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page content" class="main">
        <div ng-repeat="(key,value) in list" ng-show="showCategories[value.email]">
            <a ng-click="getNP(value.email);"><div class="well well-lg" >
              <h3>{{value.username}}</h3>
              <p>{{value.about}}</p>

            </div></a>
        </div>
    </div>
</div>
