/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("/imgs/pmablqek.png") no-repeat bottom left fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
/****************************************/

/*home page*/

.title {
  background-color: rgba(144, 152, 165,0.8);
  margin-top: -60px;
  height: 60px;
}
.title h2{
  color: #FFF;
}

/****************************************/

/*aboutus*/

.about{
  background: url("/imgs/TTHteam-edited.jpg") no-repeat top left fixed;
  background-size: cover;
  margin 0;
  padding 0;
  height:100%;
  width:100%;
}

.about h1{
  color: #000;
  font-family: 'Maitree', serif;
  /*font-family: 'Pacifico', cursive;*/
}

.about .us{

  font-family: 'Pacifico', cursive;
  font-size: 200px;
}
.about .us h2{
  color: #FFF;
}
.about .us .bottom{
  margin-top:50px;
}
.about .us .top{
  margin-bottom:50px;
}
/*****************************************/





/*signup background*/
.signup a{
  color: #000;
}

.npSignup{
  background-color: rgba(152,211,202,0.8);
  margin-top: 100px;
  padding-bottom:50px;
}

.npSignup .form-signin h2, h3{
  color: rgb(100,100,100);
}

.npSignup textarea{
  width:100%;
}
.npSignup .btn{
  background-color: rgba(56,119,81,0.8);
}





/******/

.skills .panel {

  height:300px;
  background-color: rgba(56,119,81,0.8);
  padding-left:0px;
  padding-right:0px;
  border-radius:0;
  border:transparent;
  position:relative;
}
.skills .panel-body{
  padding:0px;
  margin:0px;
}

.skills .panel a{
  color: #FFF;
}
.skills .panel .btn{
  width:100%;
  margin:0px;
  border-radius: 0;
  color: #FFF;
  background-color:transparent;
}
.skills .panel .btn:hover{
  background-color: rgba(56,119,81,0.3);
}
.skills .panel .chevron{
  position: absolute;
  display:inline-block;
  bottom: 0;
  background-color: transparent;
}
.skills .panel .chevron .glyphicon{
  color: #FFF;
}





/*Carousel*/
.carousel {
  max-height: 500px;
  width: 100%;

  margin-top: -3px;
}

.carousel img{
  overflow: hidden;
  width: 100%;
  margin-right: -40px;
}

/*****************************************/





/*Nav Bar Class*/
.navbar {
   background-color: rgba(56,119,81,0.8);
}

.navbar a{
  color: rgba(255,255,255,0.5);
  font-size: 140%;
}

.nav > li > a:hover{
    background-color: rgba(56,119,81,1.0);
}
/*****************************************/





/*sign in modal*/
.modal-content{
  background-color: rgba(56,119,81,0.8);
  border-color: transparent;
}

.modal-content .btn{
  background-color: rgba(219,221,220,0.5);
  border-color: transparent;
}

/****************************************/




.vertical-align{/*for panels, don't change*/

    vertical-align:middle;
    line-height: 300px;
    text-align:center;
}





/*nonprofit page*/
.nonprofit{
  margin-top:100px;
  padding-left:10%;
  padding-right:10%;

}
.nonprofit .img-responsive{
    height:100%;
    width:20%;
    margin: 0 auto;
}

.nonprofit .section{
  background-color: rgba(255,255,255,0.5);
}

.nonprofit h1{
  color: rgb(100,100,100);
}
.nonprofit h2{
  color: rgb(100,100,100);
}
.nonprofit h3{
  color: rgb(100,100,100);
}
.nonprofit h4{
  color: rgb(100,100,100);
}
.nonprofit h5{
  color: rgb(100,100,100);
}
.nonprofit h6{
  color: rgb(100,100,100);
}
.nonprofit .project h2{
  color: rgb(50,50,50);
}

.nonprofit .project h3{
  color: rgb(50,50,50);
}

.nonprofit .project h4{
  color: rgb(50,50,50);
}






/*Image on home page*/

.team-image{
    background-image: url("../imgs/TTHteam-edited.jpg");
    background-size: cover;
    padding: 0px;
    margin-top: -40px;
    height:800px;
    width:100%;
}
/****************************************/







/*stuff for search side-nav bar*/

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    border-color: rgb(100,100,100);
    overflow-x:hidden;
    padding-top: 60px;
    margin-top:40px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
}

.main {
    margin-left:20%;
    padding: 20px;
}

.search-unexpanded {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.search-expanded{
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    float: right;
    color: grey;
}





/*Us*/
.us {
  margin-top:130px;
}
.us .question{
  background-color: rgba(255,255,255,0.5);
  padding:20px;
  margin-top:20px;
  margin-right:20px;
  margin-bottom:20px;
  margin-left:0px;
  padding-top:10px;
}
.us .header{
  text-align:center;
}
.us .response{
  text-align:justify;
}
.usPic{
  /*margin-top:70px;*/
  margin-left:50px;
  height:300px;
  border-radius:50%;
}
