/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("/imgs/pmablqek.png") no-repeat bottom left fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
/****************************************/

/*home page*/

.title {
  background-color: rgba(144, 152, 165,0.8);
  margin-top: -60px;
  height: 60px;
}
.title h2{
  color: #FFF;
}

/****************************************/

/*signup background*/
.signup a{
  color: #000;
}

.npSignup{
  background-color: rgba(152,211,202,0.8);
  margin-top: 100px;

}
/*
.npSignup .form-group h2{
  width: 40%;
}
*/
.npSignup .form-group{

}


.npSignup .btn{
  background-color: rgba(56,119,81,0.8);
}

/******/

.panel {
  margin: 0 auto;
  height:300px;
  width: 30%;
  margin-left:2%;
  margin-right:1%;
  margin-top:3%;
}

/*Carousel*/
.carousel {
  max-height: 300px;
  width: 100%;

  margin-top: -3px;
}

.carousel img{
  overflow: hidden;
  width: 100%;
  margin-right: -40px;
}


/*****************************************/

/*Nav Bar Class*/
.navbar {
   background-color: rgba(56,119,81,0.8);
}

.navbar a{
  color: rgba(255,255,255,0.5);
  font-size: 140%;
}

.nav > li > a:hover{
    background-color: rgba(56,119,81,1.0);
}
/*****************************************/

/*sign in modal*/
.modal-content{
  background-color: rgba(56,119,81,0.8);
  border-color: transparent;
}

.modal-content .btn{
  background-color: rgba(219,221,220,0.5);
  border-color: transparent;
}

/****************************************/

.vertical-align{
    display:flex;
    align-items:center;
    text-align:center;
}

.home-banner .img-responsive{
    height:100%;
    width:20%;
    margin: 0 auto;
}

/*Image on home page*/

.team-image{
    background-image: url("../imgs/TTHteam.jpg");
    background-size: cover;
    padding: 0px;
    margin-top: -40px;
    height:500px;
    width:100%;
}
/****************************************/

/*stuff for search side-nav bar*/

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D3D3D3;
    overflow-x:hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
}

.main {
    margin-left:20%;
    padding: 20px;
}

.search-unexpanded {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.search-expanded{
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    float: right;
    color: grey;
}
