<h1>edit needs</h1>
<div>
     <label for="needs">Detailed Description of needs:</label>
     <textarea ng-model="needs" rows="5" id="needs"></textarea>
</div>
<div id= "needs">
    <div id= "needsTitle" class = "text-center">
        <h2>Needs Categories</h2>
    </div>
 <!--   <button type="button" class = "btn btn-default" ng-click="checkStuff();">Test</button>
    <pre style="height: 150px;">Model: {{checkModel}}</pre> -->
    <div ng-repeat="(key, value) in categories">
        <button type = "button" class = "btn btn-default" ng-click="clicked = !clicked">{{key}}</button>
        <div uib-collapse = "!clicked">
            <div class= "well well-lg">
                <div class="btn-group" >
                    <button  ng-repeat="subcategory in value" type="button" class="btn btn-primary" ng-model = "checkModel.value[subcategory]" uib-btn-checkbox>{{subcategory}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" ng-click="signUp();" id="Updatebutton" class="btn btn-lg btn-primary btn-block">Update</button>
