<div class="container-fluid home-banner">
    <div id="logo" class="text-center" style="height:300px;">
        <a href="#/nonprofit/id3"><img ng-src="/imgs/puppy.jpg" class="circle" style="padding-top: 30px;padding-bottom:20px;" alt="Non-Profit"></a>
    </div>
    <div class="text-center">
        <h1>{{name}}</h1>
    </div>
    <div class="row vertical-align">
        <div id = "info" class = "container col-sm-6" style="height:300px;background-color:#00B2B9;">
            <h1><a href="#/forNP">Info:</a></h1>
            <p>{{email}}</p>
            <p>{{phoneNumber}}</p>
            <p>{{description}}</p>
        </div>
        <div id="PastProjects" class = "col-sm-6" style="height:300px;background-color:#00B2B9;">
            <h1><a href="#/forProfs">Past Projects</a></h1>
        </div>
    </div>
    <div style="height:300px;">
        <div id="NonProfits" class="col-sm-3" style="float:left;height:300px;border-top:30px;" ng-repeat="skill in skills">
                <img ng-src="/imgs/icons/{{skill}}.svg" class="img-responsive" style="width:auto;height:50%;padding-top:10%;" alt="{{skill}}">
                
        </div>
    </div>
    <div id="needs" class="text-center">
        <h1>Details of Needs:</h1>

        </br>
        <p>{{needs}}</p>
    </div>
</div>
