<div class="container skills npSignup">
        <form class="form-signin" name="regForm">
            <div class="form-group">
                <h2>Name:</h2>
                <input type = "text" name = "username" id = "username" class="form-control" ng-model="user.username" required ng-pattern="/[a-z0-9]/">
                <p ng-show="regForm.username.$error.pattern">Enter a username with only numbers and letters.</p>
                <p ng-show="user.usernameTaken">Username is not available</p>
            </div>
            <div class="form-group">
                <h2>Password:</h2>
                <input type="password" id="password" name="password" class="form-control" ng-model="user.password" ng-minlength = "8">
                <p ng-show="regForm.password.$error.minlength">Min password length is 8 characters.</p>
            </div>
            <div class="form-group">
                <h2>Email:</h2>
                <input type="email" id = "email" name="email" class="form-control" ng-model="user.email">
                <p ng-show="regForm.email.$invalid">Enter a valid email.</p>
            </div>
            <div class="form-group">
                <h2>Phone Number:</h2>
               <!-- <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control"> -->
                <input type="text" ng-model="phonenumber" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_"/>
            </div>

            <div id= "skills">
                <div id= "skillsTitle" class = "text-center">
                    <h2>Skills to offer:</h2>
                </div>

                <div ng-repeat="row in panels">
                  <div class="row">
                    <div class= "col-xs-4" ng-repeat="(key,value) in row">
                      <div ng-model = "subs[key]" ng-show="subs[key]"class="panel panel-default vertical-align">
                        <div class="panel-body">
                          <div id="title">
                            <a ng-click="checkSubs(key)" ng-show="(key != 'Categories') && (key!='30,000') "><h4>{{key}}</h4></a>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default" ng-show="!subs[key]">
                        <div class="panel-body">
                            <button  ng-repeat="subcategory in value" type="button" class="btn btn-block" ng-model = "checkModel.value[subcategory]" uib-btn-checkbox>{{subcategory}}</button>
                            <button class="btn btn-block chevron" ng-click="checkSubs(key)"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <button type="button" ng-click="signUp();" id="Registerbutton" ng-disabled = "!user.username || !user.email || !user.password" class="btn btn-lg btn-primary btn-block">Register</button>
        </form>
</div>
