<div class="about" style="height:1000px; margin-top:50px;">
  <div style="height:350px;"></div>
  <div class="vertical-align" style="height:80px;">
    <h1>A group of women spent a semester in a coffee shop</h2>
  </div>
  <div style="height:40px;"></div>
  <div class="vertical-align" style="height:50px; background:transparent;">
    <h1>Meet Them.</h1>
  </div>
  <div  class="row us" style="height:100px;">
    <div class="col-xs-1 bottom" id="sarabeth" style="margin-left:120px;margin-right:80px;">
      <a href="#/us/sarabeth"><h2>Sarabeth</h2></a>
    </div>
    <div class="col-xs-1 top" id="kalena" style="margin-right:50px;">
      <a href="#/us/kalena"><h2>Kalena</h2></a>
    </div>
    <div class="col-xs-1 bottom" id="maddie" style="margin-right:50px;">
      <a href="#/us/maddie"><h2>Maddie</h2></a>
    </div>
    <div class="col-xs-1 top" id="shannon" style="margin-right:50px;">
      <a href="#/us/shannon"><h2>Shannon</h2></a>
    </div>
    <div class="col-xs-1 bottom" id="sydneyk" style="margin-right:65px">
      <a href="#/us/sydneyk"><h2>Sydney K.</h2></a>
    </div>
    <div class="col-xs-1 top" id="sydneyh" style="margin-right:50px;">
      <a href="#/us/sydneyh"><h2>Sydney H.</h2></a>
    </div>
    <div class="col-xs-1 bottom" id="courtney">
      <a href="#/us/courtney"><h2>Courtney</h2></a>
    </div>
  </div>
</div>
